h1{
  text-align: center;
}

a{
  cursor:pointer;
  border-left: 2px solid rgba(0,0,0,0.10);
  border-bottom: 2px solid rgba(0,0,0,0.10);
}

#calculator {
  // width:50%;
  // margin: 0 auto;
}

#total {
  background-color:white;
  text-align: right;
  font-size: 5rem;
  padding: 2% 3%;
}

#operators a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 3rem;
  padding:1%;
  background:purple;
  &:hover{
    background:darken(purple,10%);
  }
}

#numbers a {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 5rem;
	padding: 1%;
	background:blue;
  &:hover{
    background:darken(blue,10%);
  }
}
