
a{
  cursor:pointer;
  border:1px solid lighten($c-secondary,80%);
  transition:.2s all;
  background:$c-primary;
  color:$c-secondary;
  &:hover{
    background:$c-prim-hov;
    color:$c-primary;
    border: 1px solid black;
  }
}

#calculator {
  width:50%;
  // width sm
  @media only screen and (max-width:47.875em) {
  width:80%;
  }
  // width xs
  @media screen and (max-width: 40em) {
    width:95%;
  }
}

#total {
  background-color:white;
  text-align: right;
  font-size: 5rem;
  padding: 2% 3%;
  border:2px solid lighten($c-secondary,80%);
  border-bottom:1px solid lighten($c-secondary,80%);
  overflow:scroll;
}

#operators a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 3rem;
  padding:1%;
  background:darken($c-primary,10%);
  &:hover{
    background:$c-secondary;
    color:$c-primary;
    border:1px solid black;
  }
}
a#equals{

}

#numbers a {
	text-decoration: none;
	text-align: center;
	font-size: 5rem;
	padding: 1%;
}
a#clear, a#clearall{
  background:darken($c-primary,10%);
  &:hover{
    background:$c-secondary;
  }
}
